.tile{
  width: 80px;
  height: 80px;
  display: grid;
  place-content: center;

  .piece{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    &:hover{
      cursor: grab;
    }

    &:active{
      cursor: grabbing;
    }
  }

  &.black-tile{
    background-color: #779556;
  }

  &.white-tile{
    background-color: #ebecd0;
  }

  &.highlight::before{
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    margin: 30px;
  }

  &.highlight-kill{
    .piece{
      background-color: red;
      border: 1px solid rgb(0, 0, 0);
      width: 79px;
      height: 79px;
    }
  }
}
