.tile{
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;

  img{
    width: 80px;
  }

  &.black-tile{
    background-color: #779556;
  }

  &.white-tile{
    background-color: #ebecd0;
  }
}
