#chessboard{
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  width: 640px;
  height: 640px;
  margin: auto;
}

#footer{
  width: 640px;
  margin: auto;
}
